body {
    background-size: cover;
    background-attachment: fixed;
    background-color: lightblue;
}


/*Makes submit button look good on devices other than just PC*/

#submitButton {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    margin-top: 0;
    width: 85%;
}

#loginButton {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    margin-top: 10px;
    width: 90%;
}

#registerButton {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}


/*CSS for the query-combobox*/

.ui-widget-content {
    background-color: silver;
    border: 2px solid #609;
    padding: 20px;
}

.ui-button {
    height: 20px;
    width: 20px;
}

.custom-combobox-input {
    padding: 2px;
    width: 60%;
}

#company {
    width: 85%;
    height: 50px;
    border-radius: 15px;
    border: 3px solid teal;
}

#addCompanyButton {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    margin-top: 0;
    width: 85%;
    height: 45px;
    background-color: lightblue;
    border-radius: 35px;
    border-color: black;
}

#daySelector{
    width: 65%;
    margin-left: 5%;
    border: 3px solid teal;
    border-radius: 10px;
}

#seatNumber{
    width: 65%;
}


/*CSS for all text on the website*/

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-attachment: fixed;
}

input {
    display: block;
    margin: 0 auto;
    border: 2px solid navy;
    font-size: 20px;
}

input[type="text"] {
    border-radius: 25px;
    padding: 20px;
    width: 85%;
    height: 15px;
}

input[type="password"] {
    border-radius: 25px;
    padding: 20px;
    width: 85%;
    height: 15px;
}

input[type="email"] {
    border-radius: 25px;
    padding: 20px;
    width: 85%;
    height: 15px;
}

input[type=submit] {
    background-color: lightblue;
    border-radius: 35px;
    border-color: black;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

input[type=button] {
    background-color: lightblue;
    border-radius: 35px;
    border-color: black;
    padding: 20px;
    width: 90%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
}

input.custom-combobox-input {
    border: 2px solid navy!important;
    background: #FFF!important;
    width: 85%!important;
    border-radius: 25px!important;
    padding: 20px!important;
}

#orText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


/*CSS for the displayment of all query results for a company*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
}

td,
th {
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    font-size: 20px;
}

tr:nth-child(even) {
    background-color: lightblue;
}

th {
    font-style: italic;
}

.nameData{
    border-radius: 20px 0px 0px 20px; 
}

main {
    margin: 20px auto;
    width: 65vw;
    max-width: 1000px;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
}

#tableMain {
    margin: 0 auto;
    min-width: 80vw;
    width: 65vw;
    max-width: 1000px;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
}

button,
input[type=submit] {
    text-align: center;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    font-family: sans-serif;
    font-variant: small-caps;
    text-align: center;
    margin: 30px 0 50px;
}