body{
	background-size: cover;
	background-attachment: fixed;
	background-color: teal;
}

/*Makes submit button look good on devices other than just PC*/
#submitButton{
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	margin-top: 0;
	width: 85vw;
}

/*CSS for the query-combobox*/
.ui-widget-content{
	background-color: silver;
	border: 2px solid #609;
	padding: 20px;
}
.ui-button{
	height: 20px;
	width: 20px;
}
.ui-widget{
	height: 35px;
}

.custom-combobox-input{
	padding: 2px;
	width: 60vw;
}

#company{
	width: 85vw;
	height: 50px;
	border-radius: 15px;
	border: 3px solid teal;
}

#addCompanyButton{
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	margin-top: 0;
	width: 85vw;
	height: 45px;
	background-color: teal;
	border-radius: 35px;
	border-color: black;
}

/*CSS for all text on the website*/
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-attachment: fixed;
	border: 2px solid #008095;
}

input[type="text"]{
	border-radius: 25px;
	border: 2px solid #008080;
	padding: 20px; 
	width: 85vw;
	height: 15px;
}

input[type="password"]{
	border-radius: 25px;
	border: 2px solid #008080;
	padding: 20px; 
	width: 85vw;
	height: 15px;
}

input[type="email"]{
	border-radius: 25px;
	border: 2px solid #008080;
	padding: 20px; 
	width: 85vw;
	height: 15px;
}

input[type=submit]{
	background-color: teal;
	border-radius: 35px;
	border-color: black;
	padding: 20px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
}

input[type=button]{
	background-color: teal;
	border-radius: 35px;
	border-color: black;
	padding: 20px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
}

input[type="text"]{
	font-size: 20px;
}

/*CSS for the displayment of all query results for a company*/
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 99vw;
	font-size: 20px;
  }
  
  td, th {
	border: 1px solid black;
	text-align: left;
	padding: 8px;
	font-size: 20px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
  }