body{
	background-size: cover;
	background-attachment: fixed;
	background-color: lightblue;
}

/*Makes submit button look good on devices other than just PC*/
#submitButton{
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	margin-top: 0;
	width: 85%;
}

/*CSS for the query-combobox*/
.ui-widget-content{
	background-color: silver;
	border: 2px solid #609;
	padding: 20px;
}
.ui-button{
	height: 20px;
	width: 20px;
}
.ui-widget{
	height: 35px;
}

.custom-combobox-input{
	padding: 2px;
	width: 60%;
}

#company{
	width: 85%;
	height: 50px;
	border-radius: 15px;
	border: 3px solid teal;
}

#addCompanyButton{
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	margin-top: 0;
	width: 85%;
	height: 45px;
	background-image: -webkit-gradient(linear, left top, right bottom, from(lightblue), to(navy));
	background-image: -webkit-linear-gradient(top, start-color, end-color);
	background-image: -moz-linear-gradient(top, start-color, end-color);
	background-image: linear-gradient(to bottom, start-color, end-color);;
	border-radius: 35px;
	border-color: black;
}

/*CSS for all text on the website*/
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-attachment: fixed;
}

input {
	display: block;
	margin: 0 auto;
	border: 2px solid navy;
}

input[type="text"]{
	border-radius: 25px;
	padding: 20px; 
	width: 85%;
	height: 15px;
}

input[type="password"]{
	border-radius: 25px;
	padding: 20px; 
	width: 85%;
	height: 15px;
}

input[type="email"]{
	border-radius: 25px;
	padding: 20px; 
	width: 85%;
	height: 15px;
}

input[type=submit]{
	background-image: -webkit-gradient(linear, left top, right bottom, from(lightblue), to(navy));
	background-image: -webkit-linear-gradient(top, start-color, end-color);
	background-image: -moz-linear-gradient(top, start-color, end-color);
	background-image: linear-gradient(to bottom, start-color, end-color);;
	border-radius: 35px;
	border-color: black;
	padding: 20px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
}

input[type=button]{
	background-image: -webkit-gradient(linear, left top, right bottom, from(lightblue), to(navy));
	background-image: -webkit-linear-gradient(top, start-color, end-color);
	background-image: -moz-linear-gradient(top, start-color, end-color);
	background-image: linear-gradient(to bottom, start-color, end-color);;
	border-radius: 35px;
	border-color: black;
	padding: 20px;
	text-align: center;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
}

input[type="text"]{
	font-size: 20px;
}

input.custom-combobox-input {
	border: 2px solid navy!important;
	background: #FFF!important;
	width: 85%!important;
	border-radius: 25px!important;
	padding: 20px!important;
}



/*CSS for the displayment of all query results for a company*/
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 99%;
	font-size: 20px;
  }
  
  td, th {
	border: 1px solid black;
	text-align: left;
	padding: 8px;
	font-size: 20px;
  }
  
  tr:nth-child(even) {
	background-color: #dddddd;
	}
	
	main {
		margin: 20px auto;
		width: 65vw;
		max-width: 1000px;
		background: #FFF;
		padding: 20px;
		border-radius: 10px;
	}

	button, input[type=submit] {
		text-align: center;
		display: block;
		margin: 0 auto;
	}